<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="container wrapper list">
		{{ partial "head.html" . }}
		<h1>{{ .Params.Title | humanize | title }}</h1>

		{{ $descPage := index (index .Site.Taxonomies.seriesdesc "making-regex-from-scratch-in-go").Pages 0 }}
		<img class="mx-auto w-50 d-block p-3" src="{{ $descPage.Params.image }}"/>
		{{ $descPage.Content }}

		{{ with .Content }}{{ . }}{{ end }}

		<ul class="posts">
			{{- range .Data.Pages -}}
			{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
			{{- else -}}
			<li class="post">
				<a href="{{ .RelPermalink }}">{{.Title}}</a> <span class="meta">{{ if .Date }}{{ dateFormat "Jan 2, 2006" .Date }}{{ end }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</span>
			</li>
			{{- end -}}
			{{- end -}}
		</ul>
	</div>

	{{ partial "footer.html" . }}
</body>

</html>
