<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		{{ with .Content }}{{ . }}{{ end }}

		<div class="section">
			<h2 class="section-header">
				Series
			</h2>
			{{ range $a, $b := .Site.Taxonomies.series }}
			<div class="post">
				<a class="title" href="series/{{ $a | urlize }}">{{ $a | humanize }}</a>
<!--				<span class="description"></span> -->
			</div>

			{{ end }}
		</div>

		<br>

		<div class="recent-posts section">
			<h2 class="section-header">
				Posts
			</h2>
			<div class="posts">
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where (where $pages "Params.Series" "!=" "nil") "Params.hidden" "ne" true ) }}
				{{ range $paginator.Pages }}
				<div class="post">
					<div class="meta">{{ if .Date }}{{ dateFormat "Jan 2, 2006" .Date }}{{ end }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
					<a class="title" href="{{ .RelPermalink }}">{{.Title}}</a> &mdash;
					<span class="description">
						{{ if isset .Params "description" }}
						{{ .Description }}
						{{ else }}
						{{ .Summary }}&hellip;
						{{ end }}
					</span>
				</div>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</div>
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
